*.css linguist-vendored
*.html linguist-vendored
*.md linguist-vendored
*.json linguist-vendored
*.txt linguist-vendored
*.xml linguist-vendored
*.yml linguist-vendored
*.png linguist-vendored
*.bat linguist-vendored
*.gradle linguist-vendored
*.pro linguist-vendored
*.keystore linguist-vendored
*.kt linguist-vendored
*.c linguist-vendored
*.rb linguist-vendored
*.erb linguist-vendored
*.ru linguist-vendored
*.rake linguist-vendored
*.cpp linguist-vendored
*.cc linguist-vendored
*.cxx linguist-vendored
*.m linguist-vendored
*.mm linguist-vendored
*.h linguist-vendored
*.cs linguist-vendored
*.yaml linguist-vendored
*.gem linguist-vendored
*.gemfile linguist-vendored
*.gemspec linguist-vendored
*.lock linguist-vendored
*.conf linguist-vendored
*.maven linguist-vendored
*.ico linguist-vendored
*.prettirrc linguist-vendored
*.gitignore linguist-vendored
*.babelrc linguist-vendored
*.pdf linguist-vendored
*.cjs linguist-vendored
*.env linguist-vendored
*.cmd linguist-vendored
*.jar linguist-vendored
*.java linguist-vendored
*.rdoc linguist-vendored
*.log linguist-vendored
*.pid linguist-vendored
*.coffee linguist-vendored
*.properties linguist-vendored
*.watchmanconfig linguist-vendored
*.pbxproj linguist-vendored
*.xcscheme linguist-vendored
*.plist linguist-vendored
*.woff2 linguist-vendored
*.storyboard linguist-vendored
*.mjs linguist-vendored
*Gemfile linguist-vendored
*Podfile linguist-vendored
*trace linguist-vendored
Gemfile export-ignore
Gemfile.lock export-ignore
Podfile export-ignore
Podfile.lock export-ignore