@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Tilt Neon', sans-serif;
  scrollbar-gutter: auto !important;
  overflow-y: auto;
  overflow-x: hidden;
}
